<div class="container">
<%= simple_form_for(@cat_info, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <%= f.input :title, label: '제목', input_html: { class: 'form-control' } %>
    </div>

   <div class="form-group">
    <%= f.input :content, label: '내용', input_html: { class: 'form-control'} %>
    <br><br>
      <%= f.input :picture, label: '사진',accept: 'image/png,image/gif,image/jpeg' , input_html: { class: 'form-control' }%>
      <%= f.hidden_field :picture_cache %>
         <small id="notification" class="form-text text-muted">사진 없을 시 기본사진으로 대체.</small> 
      </div>
      
   <div class="form-actions">
    <%= f.button :submit, '올리기' %>
    <%#= link_to 'Show', @board, class: 'btn btn-default' if @board.persisted? %>
    <%= link_to '목록', cat_infos_path, class: 'btn btn-default' %>    
  </div>
<% end %>
</div>