<style>
    h3{
         font-family: 'Binggrae'; !important;
    }
    p{
        margin-top: 10px;
       font-size: 20px;
    }
</style>
<div class="container">
   <div class="container col-md-10" align="center" style="margin-top: 40px; padding: 30px; background-color: #fff; border-radius: 15px;">
  
 <div class="form-group">
   <%= image_tag("#{@board.picture}",  width: "50%", height: "50%") %>
    </div>

   <div class="form-group">
   <h3>고양이 이름</h3><p><%= @board.title %></p>
   </div>
      <hr>
    <div class="form-group">
      <h3>출몰 지역 </h3><p><%= @board.content %></p><input type="hidden" id="address" name="address" value="<%= @board.content %>">
      <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=nJFdVQoVjjh1mF5J5xyr&submodules=geocoder"></script>
      <div id="map" style="width:400px;height:400px;"></div>
    <script>
      var map = new naver.maps.Map('map');
      
      var address = $('#address').val();
      var myaddress = address;// 도로명 주소나 지번 주소만 가능 (건물명 불가!!!!)
      naver.maps.Service.geocode({address: myaddress}, function(status, response) {
          if (status !== naver.maps.Service.Status.OK) {
              return alert(myaddress + '의 검색 결과가 없거나 기타 네트워크 에러');
          }
          var result = response.result;
          // 검색 결과 갯수: result.total
          // 첫번째 결과 결과 주소: result.items[0].address
          // 첫번째 검색 결과 좌표: result.items[0].point.y, result.items[0].point.x
          var myaddr = new naver.maps.Point(result.items[0].point.x, result.items[0].point.y);
          map.setCenter(myaddr); // 검색된 좌표로 지도 이동
          // 마커 표시
          var marker = new naver.maps.Marker({
            position: myaddr,
            map: map
          });
          // 마커 클릭 이벤트 처리
          naver.maps.Event.addListener(marker, "click", function(e) {
            if (infowindow.getMap()) {
                infowindow.close();
            } else {
                infowindow.open(map, marker);
            }
          });
          // 마크 클릭시 인포윈도우 오픈
          var infowindow = new naver.maps.InfoWindow({
              content: '<h4> [출몰 지역]</h4>'
          });
          
          
      });
      </script>
      </div>
      
      <hr>
     
    <div class="form-group">
      <h3>등록자 전화번호 </h3>
      <p><%= @writer.phone_number %></p>
      </div>
      
      
      
      
      <div class="form-group">
       <%#= time_ago_in_words(@board.created_at) %>
       </div>
       <hr>
<button type="button" class="btn btn-warning"><%= link_to '공고 수정', edit_board_path(@board) , class: 'btn btn-default'%> |
 <%= link_to '공고 목록', boards_path, class: 'btn btn-default' %>    </button>
 </div>
 </div>
 