<div class="container col-md-4" align="center" style="margin-top: 200px; padding: 30px; background-color: #fff; border-radius: 15px;">
<h2>비밀번호를 잊어버리셨나요? <%= link_to fa_icon('exclamation-triangle'), new_password_path(resource_name) %></h2>
 <br><hr/>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
     <h5><%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%></h5><br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "비밀번호 재설정 안내 보내기" %>
  </div>
<% end %>
</div>
<%= render "users/shared/links" %>
